<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="Tests">
        <classes>
            <class name ="com.test9gag.qa.testcases.LoginPageTest" ></class>
            <class name ="com.test9gag.qa.testcases.HomePageTest"></class>
            <class name ="com.test9gag.qa.testcases.SearchPageTest"></class>
            <class name="com.test9gag.qa.testcases.ShopPageTest"></class>

        </classes>
    </test>
</suite>